<header
  class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black border-b border-gray-200"
>
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-indigo-300"> DatingApp </a>
    <nav class="space-x-6 flex items-center">
      <a href="/" class="text-gray-300 hover:text-indigo-300 transition-colors"> Home </a>
      <a href="/members" class="text-gray-300 hover:text-indigo-300 transition-colors"> Members </a>
      <a href="/messages" class="text-gray-300 hover:text-indigo-300 transition-colors">
        Messages
      </a>
      <a href="/settings" class="text-gray-300 hover:text-indigo-300 transition-colors">
        Settings
      </a>

      @if(authService.currentUser(); as User){
      <div class="dropdown  dropdown-end ">
        <div tabindex="0" role="button" class=" flex items-center gap-2 cursor-pointer">
          <img
            tabindex="0"
            src="https://i.pravatar.cc/300"
            alt="User Avatar"
            class="w-10 h-10 rounded-full cursor-pointer border-2 border-indigo-300"
          />
          <span class="text-gray-300 hover:text-indigo-300 transition-colors">
            {{User?.displayName }}
          </span>
        </div>
        <ul
          tabindex="-1"
          class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
        >
          <li><a>Edit Profile</a></li>
          <li (click)="logout()"><a>log out</a></li>
        </ul>
      </div>
      } @else {
      <button
        class="text-gray-300 hover:text-indigo-300 transition-colors cursor-pointer"
        (click)="logIn()"
      >
        Log In
      </button>
      }
      <!-- <button
          class="text-gray-300 hover:text-indigo-300 transition-colors cursor-pointer"
          (click)="logout()"
        >
          Log Out
        </button> -->
    </nav>
  </div>
</header>
